<template>
    <v-container>
        <v-card>
            <v-card-title>
                ตั้งค่าเงื่อนไขประจำตำแหน่ง
            </v-card-title>
            <v-container>
                <v-card>
                    <v-row
                            class="md12 d-flex justify-center"
                    >
                        <v-col
                                cols="12"
                                md="8">
                            <p style="text-align: center;font-weight: bold;font-size: 20px">
                                ข้อมูลเงื่อนไขตำแหน่ง : <span
                                    style="color: coral;font-weight: bold">{{PositionName}}</span>
                            </p>
                            <template>
                                <div>
                                    <v-treeview
                                            :items="level_position"
                                            :dense="dense"
                                            :selectable="selectable"
                                            :activatable="activatable"
                                            :hoverable="hoverable"
                                            :open-on-click="openOnClick"
                                            :selected-color="selectedColor"
                                            :color="color"
                                            :shaped="shaped"
                                            :rounded="rounded"
                                    >
                                        <!-- <template slot="append" slot-scope="{ item }">
                                             <v-btn @click="addChild(item);">Add child</v-btn>
                                         </template>-->
                                        <template slot="label" slot-scope="{ item }">
                                            <span v-html='item.name'> </span>

                                            <v-btn class="mx-5" tile dark x-small color="red"
                                                   @click="DeleteItem(item)" icon>
                                                <v-icon dark>mdi-close</v-icon>
                                            </v-btn>

                                        </template>
                                    </v-treeview>
                                </div>
                            </template>
                        </v-col>
                    </v-row>
                </v-card>
                <v-row>
                    <v-col
                            cols="12"
                            md="3">
                        <v-card
                                outlined>
                            <!--<v-list-item three-line>
                                <v-list-item-content>
                                    <div class="overline mb-2" style="color: darkblue;font-weight: bold">เลือกหน่วยงาน
                                    </div>
                                    <v-list-item-title class="headline mb-1">
                                        <v-autocomplete
                                                label="หน่วยงาน">

                                        </v-autocomplete>
                                    </v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>-->
                            <v-list-item three-line>
                                <v-list-item-content>
                                    <div class="overline mb-2" style="color: darkblue;font-weight: bold">
                                        เลือกตำแหน่ง
                                    </div>
                                    <v-list-item-title class="headline mb-1">
                                        <div class="d-inline">
                                            <v-autocomplete
                                                    v-model="position_c"
                                                    label="ตำแหน่ง"
                                                    :items="PositionsData"
                                                    item-value="PosCode"
                                                    item-text="PosName"
                                                    @change="GetPositionToShow"
                                            >
                                            </v-autocomplete>
                                        </div>
                                    </v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </v-card>
                    </v-col>
                    <v-col
                            cols="12"
                            md="9">
                        <v-card
                                outlined
                                style="border-color: darkblue;border: 2px solid">
                            <v-card-title>
                                หลักสูตรบังคับ
                            </v-card-title>
                            <v-list-item>
                                <v-row class="justify-center">
                                    <v-col
                                            cols="12"
                                            md="4">
                                        <v-select
                                                outlined
                                                v-model="posi_choose"
                                                label="ระดับตำแหน่ง"
                                                :items="items"
                                                item-value="LevelCode"
                                                item-text="LevelName"
                                        >
                                        </v-select>
                                    </v-col>
                                    <v-col
                                            cols="12"
                                            md="4">
                                        <v-select
                                                :items="Course"
                                                item-text="Course_name"
                                                item-value="Course_code"
                                                v-model="Course_code"
                                                label="หลักสูตร"
                                                required
                                                @change="getCourseType"
                                        ></v-select>
                                    </v-col>
                                </v-row>

                            </v-list-item>
                            <v-list-item>
                                <v-row class="justify-center">
                                    <!--<v-col
                                            cols="12"
                                            md="4">
                                        <v-select
                                                v-model="posi_choose_c"
                                                :items="items"
                                                item-value="id"
                                                item-text="name"
                                                label="ตำแหน่ง"
                                                @change="get_Age_Posi">
                                            <template v-slot:item="{item}">
                                                <span v-html="item.name" style="color: darkslategrey"></span>
                                            </template>
                                            <template slot="selection" slot-scope="data">
                                                <span v-html="data.item.name"></span>
                                            </template>
                                            &lt;!&ndash; <template v-slot:append="{item}">
                                                 {{item.title}}
                                             </template>&ndash;&gt;
                                        </v-select>
                                    </v-col>
                                    <v-col
                                            cols="12"
                                            md="4">
                                        <v-select
                                                v-model="age_choose_c"
                                                :items="ageItem"
                                                item-value="id"
                                                label="อายุงาน">
                                            <template v-slot:item="{item}">
                                                 <span v-html="item.name" style="color: #ff6d81">
                                                </span>
                                            </template>
                                            <template slot="selection" slot-scope="data">
                                                 <span v-html="data.item.name" style="color: #ff6d81">
                                                </span>
                                            </template>
                                            &lt;!&ndash; <template v-slot:append="{item}">
                                                 {{item.title}}
                                             </template>&ndash;&gt;
                                        </v-select>
                                    </v-col>-->
                                    <v-col
                                            cols="12"
                                            md="4">
                                        <v-select
                                                v-model="posi_choose"
                                                label="ระดับตำแหน่ง"
                                                :items="items"
                                                item-value="LevelCode"
                                                item-text="LevelName"
                                        >
                                        </v-select>
                                    </v-col>
                                    <v-col
                                            cols="12"
                                            md="4">
                                        <v-select
                                                :items="Course"
                                                item-text="Course_name"
                                                item-value="Course_code"
                                                v-model="Course_code"
                                                label="หลักสูตร"
                                                required
                                                @change="getCourseType"
                                        ></v-select>
                                    </v-col>
                                </v-row>

                            </v-list-item>
                            <v-list-item>
                                <v-row>
                                    <v-col
                                            cols="12"
                                            md="6"
                                    >
                                        <div class="d-inline">
                                            <v-select
                                                    :items="DepartData"
                                                    item-text="dep_name"
                                                    item-value="dep_id"
                                                    v-model="departSel"
                                                    label="หน่วยงาน"
                                                    disabled
                                            ></v-select>
                                        </div>
                                    </v-col>
                                    <v-col
                                            cols="4"
                                            md="2"
                                    >
                                        <div class="d-inline">
                                            <v-text-field
                                                    v-model="course_group"
                                                    label="สาขาประเภทหลักสูตร"
                                                    disabled
                                                    required
                                            ></v-text-field>
                                        </div>
                                    </v-col>
                                    <v-col
                                            cols="4"
                                            md="2"
                                    >
                                        <v-text-field label="จำนวนเครดิต" hide-details="auto"
                                                      v-model="General_credit"
                                                      disabled
                                        ></v-text-field>
                                    </v-col>
                                    <v-col
                                            cols="4"
                                            md="2"
                                    >
                                        <v-text-field label="จำนวน ช.ม" hide-details="auto"
                                                      v-model="Course_hour"
                                                      disabled
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                            </v-list-item>
                            <v-list-item class="justify-center">
                                <v-btn
                                        outlined
                                        color="#00796B"
                                        style="margin-bottom: 15px"
                                        @click="AddPositionExpert">
                                    เพิ่มเงื่อนไข
                                </v-btn>
                            </v-list-item>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-card>
    </v-container>
</template>

<script>
    import axios from 'axios'
    import ConstData from '../const/Const'
    import {mapActions, mapGetters} from 'vuex'
    import {ServiceProvider} from '@/resource'

    export default {
        name: "PositionPerCourse",
        data() {
            return {
                departSel: '',
                level_position: [],
                PositionName: '',
                position_c: '',
                ageItem: [],
                age_choose_c: '',
                posi_choose_c: '',
                posi_choose: '',
                yearStart: '',
                yearEnd: '',
                General_credit: '',
                Course_hour: '',
                Course_code: '',
                course_group: '',
                courseData: [],
                PositionAllDepart: [],
                headersPosi: [
                    {
                        text: 'ตำแหน่ง',
                        align: 'start',
                        sortable: false,
                        value: 'position',
                    },
                    {text: 'รหัสตำแหน่ง', value: 'position_id'}
                ],
                DataPosi: [],
                headersCourse: [
                    {
                        text: 'รหัสหลักสูตร',
                        align: 'start',
                        sortable: false,
                        value: 'position',
                    },
                    {text: 'ชื่อหลักสูตร', value: 'position_id'}
                ],
                DataCourse: [],
                rules: {
                    required: value => !!value || 'Required.',
                    counterCourse: value => value.length <= 8 || 'Max 8 characters',
                    email: value => {
                        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                        return pattern.test(value) || 'Invalid e-mail.'
                    },
                },
                items: [],
                dense: false,
                selectable: false,
                activatable: true,
                hoverable: true,
                openOnClick: true,
                shaped: true,
                rounded: true,
                color: 'primary',
                selectedColor: 'accent',
                selectedColors: [
                    'accent',
                    'teal',
                    'red',
                    'success',
                    'warning lighten-2',
                ],
            }
        },
        computed: {
            ...mapGetters({
                MeData: 'Staff/getMeData',
                levelData: 'Level/getLevel',
                DepartData: 'Depart/getDepart',
                PositionsData: 'Positions/getPosition',
                Course: 'Course/getCourse',
            }),
        },
        methods: {
            ...mapActions({
                initMeData: 'Staff/initMeData',
                initlevelData: 'Level/initLevelData',
                initDepartData: 'Depart/initDepartData',
                initPositionData: 'Positions/initPositionData',
                initCourseData: 'Course/initCourseData',
            }),
            init() {
                this.initlevelData().then((res) => {
                    if (res) {
                        this.levelData.map((level_i, idx) => {
                            this.items.push({
                                ...level_i,
                                id: idx,
                                name: level_i.LevelName,
                                status: 0,
                                children: []
                            })
                        })
                    }
                })
                this.initDepartData()
                this.initPositionData()
                this.initCourseData()
            },
            DeleteItem(dataPosition) {
                var CheckDelete = true
                var Count = 0
                const headerAxios = {
                    headers: {
                        'X-REST-METHOD': 'DELETE'
                    }
                }
                if (dataPosition.children != null && dataPosition.children.length > 0) {
                    dataPosition.children.map((item_age) => {
                        if (item_age.children != null && item_age.children.length > 0) {
                            item_age.children.map((item_course) => {
                                if (CheckDelete) {
                                    const headerAxios = {
                                        headers: {
                                            'X-REST-METHOD': 'DELETE'
                                        }
                                    }
                                    axios.post(ConstData.ConnectionHost + '/app-api/v2/?/apis/hrtrain/C_position_cordi/Id/' + item_age.id, '', headerAxios).then(res => {
                                        if (res.data.status) {
                                            axios.post(ConstData.ConnectionHost + '/app-api/v2/?/apis/hrtrain/C_course_posi_cordi/Id/' + item_course.id, '', headerAxios).then(res => {
                                                if (res.data.status) {

                                                    this.$swal.fire({
                                                        icon: 'success',
                                                        title: 'ลบข้อมูลสำเร็จ'
                                                    })

                                                    this.GetPositionToShow()

                                                    CheckDelete = false

                                                    this.items.map((item) => {
                                                        item.name = item.LevelName
                                                        item.children = []
                                                    })
                                                }
                                            })
                                        }
                                    })
                                }
                            })
                        } else {
                            console.log(dataPosition)
                            if (CheckDelete) {
                                if (dataPosition.status != 0) {
                                    axios.post(ConstData.ConnectionHost + '/app-api/v2/?/apis/hrtrain/C_course_posi_cordi/Id/' + item_age.id, '', headerAxios)
                                } else {
                                    axios.post(ConstData.ConnectionHost + '/app-api/v2/?/apis/hrtrain/C_course_posi_cordi/Id/' + item_age.id, '', headerAxios)
                                    axios.post(ConstData.ConnectionHost + '/app-api/v2/?/apis/hrtrain/C_position_cordi/Id/' + item_age.C_position_cordi_Id, '', headerAxios).then(res => {
                                        if (res.data.status) {
                                            Count++
                                            CheckDelete = false

                                            if (Count == dataPosition.children.length) {
                                                this.$swal.fire({
                                                    icon: 'success',
                                                    title: 'ลบข้อมูลสำเร็จ'
                                                })

                                                this.GetPositionToShow()
                                            }
                                        }
                                    })
                                }
                            }
                        }
                        if (dataPosition.status != 0) {
                            axios.post(ConstData.ConnectionHost + '/app-api/v2/?/apis/hrtrain/C_position_cordi/Id/' + dataPosition.id, '', headerAxios).then(res => {
                                if (res.data.status) {
                                    Count++
                                    CheckDelete = false

                                    if (Count == dataPosition.children.length) {
                                        this.$swal.fire({
                                            icon: 'success',
                                            title: 'ลบข้อมูลสำเร็จ'
                                        })

                                        this.GetPositionToShow()
                                    }

                                    // this.items.map((item) => {
                                    //     item.name =  item.LevelName
                                    //     item.children = []
                                    // })
                                }
                            })
                        }
                    })
                } else {
                    if (dataPosition.course != null) {
                        if (CheckDelete) {
                            const headerAxios = {
                                headers: {
                                    'X-REST-METHOD': 'DELETE'
                                }
                            }
                            axios.post(ConstData.ConnectionHost + '/app-api/v2/?/apis/hrtrain/C_course_posi_cordi/Id/' + dataPosition.id, '', headerAxios).then(res => {
                                if (res.data.status) {

                                    this.$swal.fire({
                                        icon: 'success',
                                        title: 'ลบข้อมูลสำเร็จ'
                                    })

                                    this.GetPositionToShow()

                                    CheckDelete = false

                                    // this.items.map((item) => {
                                    //     item.name =  item.LevelName
                                    //     item.children = []
                                    // })
                                }
                            })
                        }
                    } else {

                        if (CheckDelete) {
                            const headerAxios = {
                                headers: {
                                    'X-REST-METHOD': 'DELETE'
                                }
                            }
                            axios.post(ConstData.ConnectionHost + '/app-api/v2/?/apis/hrtrain/C_position_cordi/Id/' + dataPosition.id, '', headerAxios).then(res => {
                                if (res.data.status) {
                                    this.$swal.fire({
                                        icon: 'success',
                                        title: 'ลบข้อมูลสำเร็จ'
                                    })

                                    this.GetPositionToShow()

                                    CheckDelete = false

                                    // this.items.map((item) => {
                                    //     item.name = item.LevelName
                                    //     item.children = []
                                    // })
                                }
                            })
                        }
                    }
                }
            },
            GetPositionToShow() {
                this.level_position = []
                this.items.map((item) => {
                    item.children = []
                    item.status = 0
                })

                this.PositionsData.map((posi_i) => {
                    if (posi_i.PosCode == this.position_c) {
                        this.PositionName = posi_i.PosName
                    }
                })

                axios.get(ConstData.ConnectionHost + '/app-api/v2/?/apis/hrtrain/C_position_cordi_view/PosCode/' + this.position_c).then(res_pos => {
                    if (res_pos.data) {
                        this.items.map((item) => {
                            if (res_pos.data.length > 1) {
                                res_pos.data.map((pos_item) => {
                                    if (item.id == pos_item.Position_level_ms_Id) {

                                        var DepData = this.DepartData.filter(item => item.dep_id == pos_item.Dep_Code)

                                        axios.get(ConstData.ConnectionHost + '/app-api/v2/?/apis/hrtrain/C_course_posi_cordi/C_position_cordi_Id/' + pos_item.Id).then(res_course => {
                                            if (res_course.data) {
                                                this.items.map((item) => {
                                                    if (res_course.data.length > 1) {
                                                        this.Course.map((Course_I) => {
                                                            res_course.data.map((res_c_item) => {
                                                                if (Course_I.Course_code == res_c_item.Course_code) {
                                                                    if (item.id == pos_item.Position_level_ms_Id) {
                                                                        if (DepData[0].dep_id == '35000') {
                                                                            item.children.push({
                                                                                id: parseInt(res_c_item.Id),
                                                                                name: Course_I.Course_name + '<span style="font-weight: bold;color: #6091ff"> ( ' + DepData[0].dep_name + ' ) </span> ',
                                                                                course: Course_I,
                                                                                Dep_Code: DepData[0].dep_id,
                                                                                C_position_cordi_Id: pos_item.Id,
                                                                                status: 1,
                                                                                children: []
                                                                            })
                                                                        } else {
                                                                            item.children.push({
                                                                                id: parseInt(res_c_item.Id),
                                                                                name: Course_I.Course_name + '<span style="font-weight: bold;color: #42b983"> ( หน่วยงาน : ' + DepData[0].dep_name + ' ) </span> ',
                                                                                course: Course_I,
                                                                                Dep_Code: DepData[0].dep_id,
                                                                                C_position_cordi_Id: pos_item.Id,
                                                                                status: 1,
                                                                                children: []
                                                                            })
                                                                        }

                                                                    }
                                                                }
                                                            })
                                                        })
                                                    } else {
                                                        this.Course.map((Course_I) => {
                                                            if (Course_I.Course_code == res_course.data.Course_code) {
                                                                if (item.id == pos_item.Position_level_ms_Id) {
                                                                    if (DepData[0].dep_id == '35000') {
                                                                        item.children.push({
                                                                            id: parseInt(res_course.data.Id),
                                                                            name: Course_I.Course_name + '<span style="font-weight: bold;color: #6091ff"> ( ' + DepData[0].dep_name + ' ) </span> ',
                                                                            course: Course_I,
                                                                            Dep_Code: DepData[0].dep_id,
                                                                            C_position_cordi_Id: pos_item.Id,
                                                                            status: 1,
                                                                            children: []
                                                                        })
                                                                    } else {
                                                                        item.children.push({
                                                                            id: parseInt(res_course.data.Id),
                                                                            name: Course_I.Course_name + '<span style="font-weight: bold;color: #42b983"> ( หน่วยงาน : ' + DepData[0].dep_name + ' ) </span> ',
                                                                            course: Course_I,
                                                                            Dep_Code: DepData[0].dep_id,
                                                                            C_position_cordi_Id: pos_item.Id,
                                                                            status: 1,
                                                                            children: []
                                                                        })
                                                                    }
                                                                }
                                                            }
                                                        })
                                                    }
                                                })

                                                this.level_position = this.items.filter((item) => item.children.length > 0)
                                            }
                                        })
                                    }
                                })
                            } else {
                                if (item.id == res_pos.data.Position_level_ms_Id) {
                                    var DepData = this.DepartData.filter(item => item.dep_id == res_pos.data.Dep_Code)

                                    axios.get(ConstData.ConnectionHost + '/app-api/v2/?/apis/hrtrain/C_course_posi_cordi/C_position_cordi_Id/' + res_pos.data.Id).then(res_course => {
                                        if (res_course.data) {
                                            this.items.map((item) => {
                                                if (res_course.data.length > 1) {
                                                    this.Course.map((Course_I) => {
                                                        res_course.data.map((res_c_item) => {
                                                            if (Course_I.Course_code == res_c_item.Course_code) {
                                                                if (item.id == res_pos.data.Position_level_ms_Id) {
                                                                    if (DepData[0].dep_id == '35000') {
                                                                        item.children.push({
                                                                            id: parseInt(res_c_item.Id),
                                                                            name: Course_I.Course_name + '<span style="font-weight: bold;color: #6091ff"> ( ' + DepData[0].dep_name + ' ) </span> ',
                                                                            course: Course_I,
                                                                            Dep_Code: DepData[0].dep_id,
                                                                            C_position_cordi_Id: res_pos.data.Id,
                                                                            status: 1,
                                                                            children: []
                                                                        })
                                                                    } else {
                                                                        item.children.push({
                                                                            id: parseInt(res_c_item.Id),
                                                                            name: Course_I.Course_name + '<span style="font-weight: bold;color: #42b983"> ( หน่วยงาน : ' + DepData[0].dep_name + ' ) </span> ',
                                                                            course: Course_I,
                                                                            Dep_Code: DepData[0].dep_id,
                                                                            C_position_cordi_Id: res_pos.data.Id,
                                                                            status: 1,
                                                                            children: []
                                                                        })
                                                                    }
                                                                }
                                                            }
                                                        })
                                                    })
                                                } else {
                                                    this.Course.map((Course_I) => {
                                                        if (Course_I.Course_code == res_course.data.Course_code) {
                                                            if (item.id == res_pos.data.Position_level_ms_Id) {
                                                                if (DepData[0].dep_id == '35000') {
                                                                    item.children.push({
                                                                        id: parseInt(res_course.data.Id),
                                                                        name: Course_I.Course_name + '<span style="font-weight: bold;color: #6091ff"> ( ' + DepData[0].dep_name + ' ) </span> ',
                                                                        course: Course_I,
                                                                        Dep_Code: DepData[0].dep_id,
                                                                        C_position_cordi_Id: res_pos.data.Id,
                                                                        status: 1,
                                                                        children: []
                                                                    })
                                                                } else {
                                                                    item.children.push({
                                                                        id: parseInt(res_course.data.Id),
                                                                        name: Course_I.Course_name + '<span style="font-weight: bold;color: #42b983"> ( หน่วยงาน : ' + DepData[0].dep_name + ' ) </span> ',
                                                                        course: Course_I,
                                                                        Dep_Code: DepData[0].dep_id,
                                                                        C_position_cordi_Id: res_pos.data.Id,
                                                                        status: 1,
                                                                        children: []
                                                                    })
                                                                }
                                                            }
                                                        }
                                                    })
                                                }
                                            })

                                            this.level_position = this.items.filter((item) => item.children.length > 0)
                                        }
                                    })

                                }
                            }
                        })

                    } else {
                        this.items.map((item) => {
                            item.name = item.LevelName
                            item.children = []
                        })
                    }
                })
            },
            getCourseType() {
                this.Course.map((item) => {
                    if (item.Course_code == this.Course_code) {
                        this.course_group = item.Course_type_des
                        this.Course_hour = item.Course_hour
                        this.General_credit = item.General_credit
                        this.departSel = item.Dep_Code
                    }
                })
            },
            AddPositionExpert() {
                var DataInput = {
                    PosCode: this.position_c,
                    Position_level_ms_Id: this.posi_choose,
                    Dep_Code: this.departSel,
                    Create_By: ''
                }
                const headerAxios = {
                    headers: {
                        'Content-Type': 'application/json',
                        'X-REST-METHOD': 'PUT'
                    }
                }

                if (this.position_c == '' || this.posi_choose == '') {
                    this.$swal.fire({
                        icon: 'error',
                        title: 'กรุณากรอกข้อมูลให้ครบถ้วน'
                    })
                } else { // ผ่านเงื่อนไข

                    // ServiceProvider.request('GET',ConstData.ConnectionHost + '/app-api/v2/?/apis/hrtrain/C_position_cordi').then((res) => {
                    //     console.log(res)
                    // })

                    var CheckDataFromDB = []
                    this.items.map((item) => {
                        if (item.id == this.posi_choose) {
                            CheckDataFromDB = item.children.filter(val => val.course.Course_code == this.Course_code)
                        }
                    })

                    if (CheckDataFromDB.length == 0) {
                        ServiceProvider.fetch('/hrtrain/C_position_cordi/PosCode/' + this.position_c).then((res) => {
                            if (res.data.length > 1) {
                                axios.post(ConstData.ConnectionHost + '/app-api/v2/?/apis/hrtrain/C_position_cordi', DataInput, headerAxios).then(res => { // บัยทึกช้อมูลลงตาราง
                                    if (res.data.status) {
                                        axios.get(ConstData.ConnectionHost + '/app-api/v2/?/apis/hrtrain/C_position_cordi_view/PosCode/' +
                                            this.position_c + '/?sort=Id_DESC&limit=1').then(res_pos => {
                                            if (res_pos.data) {

                                                this.items.map((item) => {
                                                    if (item.id == this.posi_choose) {
                                                        DataInput = {
                                                            Course_code: this.Course_code,
                                                            C_position_cordi_Id: res_pos.data.Id
                                                        }
                                                        axios.post(ConstData.ConnectionHost + '/app-api/v2/?/apis/hrtrain/C_course_posi_cordi/', DataInput, headerAxios).then(res => {
                                                            if (res.data.status) {
                                                                this.$swal.fire({
                                                                    icon: 'success',
                                                                    title: 'บันทึกข้อมูลสำเร็จ'
                                                                })
                                                                var DepData = this.DepartData.filter(item => item.dep_id == this.departSel)
                                                                this.Course.map((Course_I) => {
                                                                    if (Course_I.Course_code == this.Course_code) {
                                                                        if (DepData[0].dep_id == '35000') {
                                                                            item.children.push({
                                                                                id: item.children.length,
                                                                                position_id: res_pos.data.Id,
                                                                                Dep_Code: DepData[0].dep_id,
                                                                                name: Course_I.Course_name + '<span style="font-weight: bold;color: #6091ff"> ( ' + DepData[0].dep_name + ' ) </span> ',
                                                                                course: Course_I
                                                                            })
                                                                        } else {
                                                                            item.children.push({
                                                                                id: item.children.length,
                                                                                position_id: res_pos.data.Id,
                                                                                Dep_Code: DepData[0].dep_id,
                                                                                name: Course_I.Course_name + '<span style="font-weight: bold;color: #42b983"> ( หน่วยงาน : ' + DepData[0].dep_name + ' ) </span> ',
                                                                                course: Course_I
                                                                            })
                                                                        }

                                                                    }
                                                                })
                                                                this.posi_choose_c = ''
                                                                this.age_choose_c = ''
                                                                this.Course_code = ''
                                                                this.Course_hour = ''
                                                                this.General_credit = ''
                                                            } else {
                                                                this.posi_choose_c = ''
                                                                this.age_choose_c = ''
                                                                this.Course_code = ''
                                                                this.Course_hour = ''
                                                                this.General_credit = ''
                                                            }

                                                            this.level_position = this.items.filter((item) => item.children.length > 0)
                                                        })
                                                    }
                                                })

                                                this.posi_choose = ''
                                            }
                                        })
                                    }
                                })
                            } else {

                                /* var CountCredit = 0
                                 var DataInput = {}
                                 const headerAxios = {
                                     headers: {
                                         'Content-Type': 'application/json',
                                         'X-REST-METHOD': 'PUT'
                                     }
                                 }*/

                                /*this.items.map((item) => { // วนลูป ตำแหน่ง
                                    if (item.id == this.posi_choose_c) { // ถ้า ตำแหน่ง id = ระดับตำแหน่งที่เลือก
                                        item.children.map((c_item, c_idx) => { // วนลูปค่า children
                                            DataInput = {
                                                Course_code: this.Course_code,
                                                C_position_cordi_Id: c_item.C_position_cordi_Id
                                            }
                                            axios.post(ConstData.ConnectionHost + '/app-api/v2/?/apis/hrtrain/C_course_posi_cordi/', DataInput, headerAxios).then(res => {
                                                if (res.data.status) {
                                                    this.$swal.fire({
                                                        icon: 'success',
                                                        title: 'บันทึกข้อมูลสำเร็จ'
                                                    })
                                                    this.Course.map((Course_I) => {
                                                        if (Course_I.Course_code == this.Course_code) {
                                                            item.children[c_idx].children.push({
                                                                id: item.children[c_idx].id,
                                                                name: Course_I.Course_name + ' ( จำนวน <span style="color: #ff3531">' + Course_I.General_credit + '</span> เครดิต ) ' + '( ระยะเวลา <span style="color: #ff6d81">' + Course_I.Course_hour + ' </span> ช.ม. )',
                                                                course: Course_I
                                                            })
                                                        }
                                                    })
                                                    item.children[c_idx].children.map((course_Item) => {
                                                        CountCredit += parseInt(course_Item.course.General_credit)
                                                    })
                                                    this.ageItem.map((age_I) => {
                                                        if (this.age_choose_c == age_I.id) {
                                                            item.children[c_idx].name = 'อายุงาน ' + age_I.yearStart + ' - ' + age_I.yearEnd + ' ปี ( จำนวน <span style="color: #ff3531">' +
                                                                item.children[c_idx].children.length + '</span> หลักสูตร <span style="color: #ff6d81">' + CountCredit + '</span> เครดิต )'
                                                        }
                                                    })
                                                    this.posi_choose_c = ''
                                                    this.age_choose_c = ''
                                                    this.Course_code = ''
                                                    this.Course_hour = ''
                                                    this.General_credit = ''
                                                } else {
                                                    this.posi_choose_c = ''
                                                    this.age_choose_c = ''
                                                    this.Course_code = ''
                                                    this.Course_hour = ''
                                                    this.General_credit = ''
                                                }
                                            })
                                        })
                                    }
                                })*/

                                axios.post(ConstData.ConnectionHost + '/app-api/v2/?/apis/hrtrain/C_position_cordi', DataInput, headerAxios).then(res => { // บัยทึกช้อมูลลงตาราง
                                    if (res.data.status) {
                                        axios.get(ConstData.ConnectionHost + '/app-api/v2/?/apis/hrtrain/C_position_cordi_view/PosCode/' +
                                            this.position_c + '/?sort=Id_DESC&limit=1').then(res_pos => {
                                            if (res_pos.data) {
                                                this.items.map((item) => {
                                                    if (item.id == this.posi_choose) {

                                                        DataInput = {
                                                            Course_code: this.Course_code,
                                                            C_position_cordi_Id: res_pos.data.Id
                                                        }
                                                        axios.post(ConstData.ConnectionHost + '/app-api/v2/?/apis/hrtrain/C_course_posi_cordi/', DataInput, headerAxios).then(res => {
                                                            if (res.data.status) {
                                                                this.$swal.fire({
                                                                    icon: 'success',
                                                                    title: 'บันทึกข้อมูลสำเร็จ'
                                                                })
                                                                var DepData = this.DepartData.filter(item => item.dep_id == this.departSel)
                                                                this.Course.map((Course_I) => {
                                                                    if (Course_I.Course_code == this.Course_code) {
                                                                        if (DepData[0].dep_id == '35000') {
                                                                            item.children.push({
                                                                                id: item.children.length,
                                                                                position_id: res_pos.data.Id,
                                                                                Dep_Code: DepData[0].dep_id,
                                                                                name: Course_I.Course_name + '<span style="font-weight: bold;color: #6091ff"> ( ' + DepData[0].dep_name + ' ) </span> ',
                                                                                course: Course_I
                                                                            })
                                                                        } else {
                                                                            item.children.push({
                                                                                id: item.children.length,
                                                                                position_id: res_pos.data.Id,
                                                                                Dep_Code: DepData[0].dep_id,
                                                                                name: Course_I.Course_name + '<span style="font-weight: bold;color: #42b983"> ( หน่วยงาน : ' + DepData[0].dep_name + ' ) </span> ',
                                                                                course: Course_I
                                                                            })
                                                                        }

                                                                    }
                                                                })
                                                                this.posi_choose_c = ''
                                                                this.age_choose_c = ''
                                                                this.Course_code = ''
                                                                this.Course_hour = ''
                                                                this.General_credit = ''
                                                            } else {
                                                                this.posi_choose_c = ''
                                                                this.age_choose_c = ''
                                                                this.Course_code = ''
                                                                this.Course_hour = ''
                                                                this.General_credit = ''
                                                            }

                                                            this.level_position = this.items.filter((item) => item.children.length > 0)
                                                        })
                                                    }
                                                })

                                                this.posi_choose = ''
                                            }
                                        })
                                    }
                                })
                            }
                        })
                    } else {
                        this.$swal.fire({
                            icon: 'error',
                            title: 'ไม่สามารถบันทึกข้อมูลได้เนื่องาก ตำแหน่งและหลักสูตรที่เลือก มีข้อมูลอยู่แล้ว'
                        })
                    }
                }
            },
            get_Age_Posi() {
                this.items.map((item, idx) => {
                    if (item.id == this.posi_choose_c) {
                        this.ageItem = this.items[idx].children
                    }
                })
            },
            addCourseCondi(Id) {
                // var CountCredit = 0
                var DataInput = {}
                const headerAxios = {
                    headers: {
                        'Content-Type': 'application/json',
                        'X-REST-METHOD': 'PUT'
                    }
                }

                this.items.map((item, idx) => { // วนลูป ตำแหน่ง
                    if (item.LevelCode == this.posi_choose) { // ถ้า ตำแหน่ง id = ระดับตำแหน่งที่เลือก
                        DataInput = {
                            Course_code: this.Course_code,
                            C_position_cordi_Id: Id
                        }
                        axios.post(ConstData.ConnectionHost + '/app-api/v2/?/apis/hrtrain/C_course_posi_cordi/', DataInput, headerAxios).then(res => {
                            if (res.data.status) {
                                this.$swal.fire({
                                    icon: 'success',
                                    title: 'บันทึกข้อมูลสำเร็จ'
                                })
                                var DepData = this.DepartData.filter(item => item.dep_id == this.departSel)
                                this.Course.map((Course_I) => {
                                    if (Course_I.Course_code == this.Course_code) {
                                        if (DepData[0].dep_id == '35000') {
                                            this.items[idx].children.push({
                                                id: item.children.length,
                                                position_id: Id,
                                                Dep_Code: DepData[0].dep_id,
                                                name: Course_I.Course_name + '<span style="font-weight: bold;color: #6091ff"> ( ' + DepData[0].dep_name + ' ) </span> ',
                                                course: Course_I
                                            })
                                        } else {
                                            this.items[idx].children.push({
                                                id: item.children.length,
                                                position_id: Id,
                                                Dep_Code: DepData[0].dep_id,
                                                name: Course_I.Course_name + '<span style="font-weight: bold;color: #42b983"> ( หน่วยงาน : ' + DepData[0].dep_name + ' ) </span> ',
                                                course: Course_I
                                            })
                                        }
                                    }
                                })
                                // item.children.map((item_c, idx) => {
                                //     if (item_c.Dep_Code == this.departSel) {
                                //         item.children[idx].name += ' ( จำนวน <span style="color: #ff3531">' +
                                //             item.children[idx].children.length + '</span> หลักสูตร <span style="color: #ff6d81">' + CountCredit + '</span> เครดิต )'
                                //     }
                                // })
                                this.posi_choose_c = ''
                                this.age_choose_c = ''
                                this.Course_code = ''
                                this.Course_hour = ''
                                this.General_credit = ''
                                console.log(item)
                            } else {
                                this.posi_choose_c = ''
                                this.age_choose_c = ''
                                this.Course_code = ''
                                this.Course_hour = ''
                                this.General_credit = ''
                            }
                        })
                    }
                })

            },
        },
        mounted() {
            this.initMeData().then(res => {
                if (res) {
                    this.init()
                }
            }).catch(reason => {
                console.log('Reject = ' + reason)
            })
        }
    }
</script>

<style scoped>
    .v-label {
        color: black;
    }

    .v-card {
        border: 1px solid;
    }

    .v-text-field >>> input {
        color: black;
    }

    .v-text-field >>> label {
        color: black;
        font-weight: bold;
    }

    .v-text-field >>> button {
        font-size: 0.1em;
    }
</style>