<template>
  <v-container>
    <v-card
        class="mx-auto d-print-none"
        style="border: darkgreen 2px solid;background-color: linen"
    >
      <v-card-title>
        <v-icon
            large
            left
        >
          mdi-file-edit
        </v-icon>
        <span>จัดการข้อมูลวางแผนตั้งงบโครงการ</span>
      </v-card-title>

      <v-card-text class="headline font-weight-bold">
      </v-card-text>

      <v-card-actions class="justify-space-around">
        <v-row
            class="justify-space-around"
        >
          <v-col align="center" col="12" md="12">
            <v-btn
                text
                v-for="menu in Menu"
                :key="menu.id"
                @click="goToPage(menu.page)">
              <span>{{ menu.value }}</span>
            </v-btn>
            <hr/>
          </v-col>
        </v-row>
      </v-card-actions>

      <router-view></router-view>

    </v-card>
    <div class="d-none d-print-block">
      <router-view></router-view>
    </div>
  </v-container>

</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
  name: "ManageProject",
  data() {
    return {
      CheckAdmin: false,
      CheckSubAdmin: false,
      Menu: [
        {
          id: '0',
          value: 'ข้อมูลแผนตั้งงบโครงการ',
          page: '/ManageProject/PlanProject'
        },
        {
          id: '1',
          value: 'เสนอแผนตั้งงบโครงการ',
          page: '/ManageProject/InsertPlanProject'
        },
        {
          id: '2',
          value: 'แก้ไขแผนตั้งงบโครงการ',
          page: '/ManageProject/EditPlanProject'
        }
      ]
    }
  },
  computed: {
    ...mapGetters({
      MeData: 'Staff/getMeData',
      AllDepPermission: 'Permission/getAllDepUserPermission',
      DepPermission: 'Permission/getDepUserPermission',
      AllPermission: 'Permission/getAllUserPermission',
      Permission: 'Permission/getPermissionUser',
      Permission_Ms: 'Permission/getPermissionMs',
      Permission_Dep_User: 'Permission/getPermissionDepUser',
      Permission_Dep: 'Permission/getPermissionDep',
      Approve_Ms: 'Permission/getApproveMs',
      Approve: 'Permission/getApprove',
      PermissionAdmin: 'Permission/getPermission',
    })
  },
  methods: {
    ...mapActions({
      initMeData: 'Staff/initMeData',
      initPermissionDepUserAllData: 'Permission/initPermissionDepUserAllData',
      initPermissionDepUserData: 'Permission/initPermissionDepUserData',
      initPermissionUserData: 'Permission/initPermissionUserData',
      initPermissionMsData: 'Permission/initPermissionMsData',
      getPermissionUserData: 'Permission/getPermissionUserData',
      getPermissionDep: 'Permission/getPermissionDepData',
      initPermissionDepData: 'Permission/initPermissionDepData',
      getPermissionDepUserData: 'Permission/getPermissionDepUserData',
      initApproveMsData: 'Permission/initApproveMsData',
      initApproveData: 'Permission/initApproveData',
      getPermissionData: 'Permission/getPermissionData',
      initPermissionData: 'Permission/initPermissionData',
    }),
    goToPage: function (page) {
      this.$router.push(page)
    }
  },
  mounted() {
    this.initMeData().then(res => {
      if (res) {
        this.getPermissionData({
          perid: this.MeData[0].perid
        }).then(resAdmin => {
          if (resAdmin) {
            this.PermissionAdmin.map((Per_i, idx) => {
              if (Per_i.permission_id == '10000') {
                this.CheckAdmin = true
              } else {
                if (!this.CheckAdmin && idx == this.PermissionAdmin.length - 1) {
                  this.$router.push('/')
                }
              }
            })
          } else {
            this.getPermissionUserData({
              perid: this.MeData[0].perid
            }).then(resUser => {
              if (resUser) {
                this.Permission.map((Per_i, idx) => {
                  if (Per_i.permission_id == '10000') {
                    this.CheckSubAdmin = true
                  } else {
                    if (!this.CheckSubAdmin && idx == this.Permission.length - 1) {
                      this.$router.push('/')
                    }
                  }
                })
              } else {
                this.CheckSubAdmin = false
                this.CheckAdmin = false
                this.$router.push('/')
              }
            })
          }
        })
      }
    }).catch(reason => {
      console.log('Reject = ' + reason)
    })
  }
}
</script>

<style scoped>

</style>